---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

Got feedback on my blog posts? Please send me your comments on the form below.

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Blog Feedback</title>
        <meta name="description" content="Feedback for my blogs">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
       <div class="container">  
      <form id="contact" action="https://formsubmit.co/el/yagexe" method="post">
        <h2>Please let me know your thoughts.</h2>
          <fieldset>
              <input placeholder="Your name" type="text" tabindex="1" required autofocus>
          </fieldset>
          <fieldset>
              <input placeholder="Your Email Address" type="email" tabindex="2" required>
          </fieldset>
          <fieldset>
              <input placeholder="Title of my blog post" type="text" tabindex="3" required>
          </fieldset>
          </fieldset>
          <fieldset>
              <textarea placeholder="Type your Message Here...." tabindex="4" required></textarea>
          </fieldset>
          <fieldset>
              <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
          </fieldset>
        </form>
    </div>
    </body>
</html>


{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
